body {
  background: #111111 url("../background.jpg") no-repeat;
  background-size: cover;
  font-size: 36px;
}

.fact {
  margin: 4em;
  color: #ffffff;
  background: #222222;
}

.fact span {
  background: #F39C12;
  border-radius: 50%;
  padding: 2em;
  font-weight: bold;
  float: left;
  margin-right: 3rem;
}
